header {
  display: grid;
  align-items: center;
  align-items: center;
  background-color: var(--color-header);
  padding: 1%;
  margin-bottom: 20px;
}

header div {
  margin: auto;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}


header #icono {
  width: 100px;
  margin-right: 10px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

li {
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


footer {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: var(--color-header);
  padding: 10px;
}