
header {
  display: grid;
  align-items: center;
  align-items: center;
  background-color: var(--color-header);
  width: 100%;
}

header div {
  margin: auto;
  display: flex;

  align-items: center;
  padding: 1%;
}


header #icono {
  width: 100px;
  margin-right: 10px;
}

header ul {
  list-style-type: none;
  background-color: #333;
  margin: 0; 
  padding: 0;
  display: flex;
  justify-content: center; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15pt;
}

li a:hover {
  background-color: #111;
}


footer {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: var(--color-header);
  padding: 10px;
}