
header {
  display: grid;
  align-items: center;
  align-items: center;
  background-color: var(--color-header);
  height:100%;
  width: 100%;
}

header div {
  margin: auto;
  display: flex;

  align-items: center;
  padding: 1%;
}


header #icono {
  width: 50px;
  margin-right: 10px;
}

header ul {
  list-style-type: none;
  background-color: #333;
  margin: 0; 
  padding: 0;
  display: flex;
  justify-content: center; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13pt;
}

li a:hover {
  background-color: #111;
}


footer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  color: white;
  background-color: var(--color-footer);
  padding: 10px;
}

footer div hr{
  width: 50%;
}

footer div{
  text-align: left;
  padding: 1%;
}

footer div iframe{
  border-radius: 5px;
}


.container-contacto a{
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
  margin: 2%;
  padding: 1%;
  transition: all 0.3s;
}

.container-contacto a:hover{
  color: var(--color-header);
}

.container-contacto a i{
  margin-left: 15px;
}