h1{
 text-align: center;
 padding: 10px;
}

section{
 margin-bottom: 300px;
}

#menu{
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  flex-wrap: wrap;
}

.card {
    width: 200px;
    margin: 10px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
  }
  
  .card .contenedor-img {
    width: 100%;
    height: 150px; 
    overflow: hidden;
  }
  
  .card .contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card .btn{
    transition: all 0.2s;
  }
  .card .btn:hover{
    padding: 1%;
  }
  
  /*--menu de opciones--*/
  .menu-contenedor {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    justify-content: center;
    background-color: #333333;
    z-index: 999;
    position: sticky;
    top: 0;
  }

  .menu-options{
    margin-right: 10px;
    list-style: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-options li {
    margin-right: 10px;
    display: inline-block;
  }


  .menu-options li a{
  text-decoration: none;
  height: 100%;
  color: #fff;
  border-radius: 20px;
  }

  .menu-options li a:hover {
    background-color: green;
    cursor: pointer;
  }

  /* boton pedido */

  #btn-pedido{
    background-color: #fff;
    border-radius: 30px;
    font-size: 15pt;
    padding: 20px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    transition: all 0.3s;
    
  }

 .btn-pedido :hover{
     color: var(--color-header);
  }