.modal-container-pedido{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999;
}

.modal-pedido{
  background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 1200px;
    border: 2px solid var(--color-header);
}

.card-pedir{
    width: 100%;
    padding: 2%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto ;
}

.total-comanda{
    font-weight: bold;
    background-color: var(--color-header);
    font-size: 17pt;
    float: right;
    padding: 1%;
    border-radius: 10px;
}

#botones-container{
    display: inline-flex;
}

#forma-entrega-container{
    font-size: 15pt;
    float: right;
    display: flex;
    align-items: center;
}

#forma-entrega{
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    border: 2px solid;
}

#forma-entrega option{
    padding: 5%;
}

#options-container{
    margin-left: 400px;
    display: inline-flex;
}

#options-container button{
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 1s;
}

#options-container button:hover{
    color: black;
}