h1{
    text-align: center;
    padding: 2%;
}
.message_pedidos{
    margin: auto;
    margin-top: 20px;
}

.card{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.card-body{
    box-shadow: 10px 40px;
}


section{
    margin-bottom: 200px;
}


.badge{
    float: right;
}

thead{
    text-align: center;
}



.total-comanda{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--bs-green);
    background: linear-gradient(to right, var(--bs-green) 70%, white 30%);
    width: 18%;
    float: right;
    padding: 1%;
    border-radius: 5px;
}

.total-comanda p{
    font-size: 15pt;
    margin-bottom: 0;
}

.precio-tabla{
    font-weight: bold;
    text-align: end;
}

.detalle-comida{
    text-align: left;
}
