section .input-group{
    margin: auto;
    width: 50%;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

section div{
  width: 80%;
  margin: auto;
}