*{
    padding: 0;
    margin: 0;
}

:root{
  --color-header: #FFBC0D;
  --color-footer: #2D2D2D;
}


main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin-bottom: 200px;
    height: 100%;
}

main .card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

main .card img{
 width: 150px;
 margin: 10%;
}

main .card .btn{
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}

main .card .btn:hover{
  color: black;
  background-color: green;
}