ul {
  list-style: none;
}


.imagenComida{
  width: 80px;
  border-radius: 15%;
  border-image: 100px
}

.tarjetaComanda{
 width: 70%;
 margin: 10%;
}


.tarjetaComanda .card-body{
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.tarjetaComanda .card-body button{
  float: right;
}

.tarjetaComanda .card-body span{
  padding: 1%;
  font-size: 15px;
  font-weight: bold;
}

.table{
  text-align: center;
}

.label-comanda{
  margin-bottom: 10px;
  font-family: "Arial";
  border-radius: 10px;
  float: left;
  margin-left: 20px;
  background-color: var(--color-header);
}